.button{
    text-decoration: none;
    background: green; 
    color: white; 
    border-radius:5px;
    display:inline-block;
    width:60px;
    height:25px; 
    text-align:center;
  }
  .button:hover{
    background: rgb(2, 82, 152);
  }
.btnn{
    text-decoration: none;
    background: rgb(209, 59, 25); 
    color: white; 
    border-radius:5px;
    display:inline-block;
    width:60px;
    height:25px; 
    text-align:center;
  }
  .btnn:hover{
    background: rgb(255, 0, 0);
  }
#exampleTable td, #exampleTable th {
    background-color: rgb(204, 157, 248);
    border: 1px solid black;
    /* font-weight: 700; Set your desired color */
}